<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beetroot</string>
		<key>picture</key>
		<string>01</string>
		<key>plantFamily</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>plantType</key>
		<string></string>
		<key>plantSize</key>
		<string>30-50cm Tall; Leaves 3-11cm long, 1-6 cm wide</string>
		<key>phLevels</key>
		<integer>45</integer>
		<key>spacing</key>
		<integer>6</integer>
		<key>whenToPlant</key>
		<array>
			<integer>1</integer>
		</array>
		<key>plantDirections</key>
		<string></string>
		<key>growingTips</key>
		<string></string>
		<key>diseases</key>
		<string></string>
		<key>potentialProblems</key>
		<string></string>
		<key>harvestTips</key>
		<string></string>
		<key>storage&amp;use</key>
		<string></string>
		<key>plantingCompanions</key>
		<string></string>
	</dict>
</array>
</plist>
