<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Beethroot</string>
		<key>Comment</key>
		<string>Familia beetroot Saritah</string>
		<key>Photo</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Broccoli</string>
		<key>Comment</key>
		<string>Brian and Matt meet for the very first time.</string>
		<key>Photo</key>
		<string>02</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Cabbage</string>
		<key>Comment</key>
		<string>There are so many happy people at RWDevCon - it&apos;s amazing.</string>
		<key>Photo</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Carrot</string>
		<key>Comment</key>
		<string>The moment it all became very real. The conference really was happening!</string>
		<key>Photo</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Cauliflower</string>
		<key>Comment</key>
		<string>Without you we wouldn&apos;t have been able to put on this amazing conference.</string>
		<key>Photo</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Corn</string>
		<key>Comment</key>
		<string>The Avengers certainly have nothing on this lot!</string>
		<key>Photo</key>
		<string>06</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>But, But, Delegates</string>
		<key>Comment</key>
		<string>&quot;Matthijs, stop going on about architecture, we&apos;re trying to eat!&quot;</string>
		<key>Photo</key>
		<string>07</string>
	</dict>
</array>
</plist>
